@{
    ViewBag.Title = "CloseJob";
}

<section class="content-header">
    <h1>
        บันทึกการขนส่ง
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>
<section class="content">


    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Latest Jobs</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Job No.</th>
                                    <th>Order ID</th>
                                    <th>ชื่อตู้</th>
                                    <th>Route</th>
                                    <th>Type</th>
                                    <th>วันที่ส่ง</th>
                                    <th>เวลา</th>
                                    <th>ทะเบียนรถ</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="~/TMS/CloseJobDetail">2705590001</a></td>
                                    <td>PA59050001</td>
                                    <td>BEAU22380837</td>
                                    <td>xxxxxxxxxxxxxxx</td>
                                    <td>Praxair</td>
                                    <td>27/05/2559</td>
                                    <td>12:00</td>
                                    <td>กอ2345</td>
                                    <td><span class="label label-danger">Delivered</span></td>
                                </tr>
                                <tr>
                                    <td><a href="~/TMS/CloseJobDetail">2705590002</a></td>
                                    <td>PA59050001</td>
                                    <td>BEAU22380837</td>
                                    <td>xxxxxxxxxxxxxxx</td>
                                    <td>Praxair</td>
                                    <td>27/05/2559</td>
                                    <td>12:00</td>
                                    <td>กอ2345</td>
                                    <td><span class="label label-danger">Delivered</span></td>
                                </tr>
                                <tr>
                                    <td><a href="~/TMS/CloseJobDetail">2705590003</a></td>
                                    <td>PA59050001</td>
                                    <td>BEAU22380837</td>
                                    <td>xxxxxxxxxxxxxxx</td>
                                    <td>Praxair</td>
                                    <td>27/05/2559</td>
                                    <td>12:00</td>
                                    <td>กอ2345</td>
                                    <td><span class="label label-danger">Delivered</span></td>
                                </tr>
                                <tr>
                                    <td><a href="~/TMS/CloseJobDetail">2705590004</a></td>
                                    <td>PA59050001</td>
                                    <td>BEAU22380837</td>
                                    <td>xxxxxxxxxxxxxxx</td>
                                    <td>Praxair</td>
                                    <td>27/05/2559</td>
                                    <td>12:00</td>
                                    <td>กอ2345</td>
                                    <td><span class="label label-danger">Delivered</span></td>
                                </tr>
                                <tr>
                                    <td><a href="~/TMS/CloseJobDetail">2705590005</a></td>
                                    <td>PA59050001</td>
                                    <td>BEAU22380837</td>
                                    <td>xxxxxxxxxxxxxxx</td>
                                    <td>Praxair</td>
                                    <td>27/05/2559</td>
                                    <td>12:00</td>
                                    <td>กอ2345</td>
                                    <td><span class="label label-danger">Delivered</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</section>