@{
    ViewBag.Title = "Drivers";
}


<section class="content-header">
    <h1>
        ประวัติพนักงานขับรถ
    </h1>
    @*<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>*@
</section>
    <section class="content">

        <div class="row">
            <div class="col-md-4">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">

                        <h3 class="profile-username text-center">สมชาย สุวรรณพงษ์</h3>

                        <p class="text-muted text-center">087-6115341</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>รหัสพนักงาน</b> <a class="pull-right">001</a>
                            </li>
                            <li class="list-group-item">
                                <b>เลขที่ใบขับขี่</b> <a class="pull-right">รย.00115/51</a>
                            </li>
                            <li class="list-group-item">
                                <b>ประเภทใบขับขี่</b> <a class="pull-right">ท.4</a>
                            </li>
                            <li class="list-group-item">
                                <b>วันอนุญาต</b> <a class="pull-right">7/5/2557</a>
                            </li>
                            <li class="list-group-item">
                                <b>วันหมดอายุ</b> <a class="pull-right">7/4/2560</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- About Me Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">ประวัติส่วนตัว</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                          
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>วันเกิด</b> <a class="pull-right">1/1/2511</a>
                            </li>
                            <li class="list-group-item">
                                <b>อายุ</b> <a class="pull-right">47</a>
                            </li>
                            <li class="list-group-item">
                                <b>เชื้อชาติ</b> <a class="pull-right">ไทย</a>
                            </li>
                            <li class="list-group-item">
                                <b>สัญชาติ</b> <a class="pull-right">ไทย</a>
                            </li>
                            <li class="list-group-item">
                                <b>ศาสนา</b> <a class="pull-right">พุทธ</a>
                            </li>
                            <li class="list-group-item">
                                <b>บัตรประชาชน</b> <a class="pull-right">3210200266031</a>
                            </li>
                            <li class="list-group-item">
                                <b>วันออกบัตร</b> <a class="pull-right">8/13/2556</a>
                            </li>
                            <li class="list-group-item">
                                <b>วันหมดอายุ</b> <a class="pull-right">12/31/2564</a>
                            </li>
                            <li class="list-group-item">
                                <b>ส่วนสูง</b> <a class="pull-right">169</a>
                            </li>
                            <li class="list-group-item">
                                <b>น้ำหนัก</b> <a class="pull-right">65</a>
                            </li>
                            <li class="list-group-item">
                                <b>สถานภาพสมรส</b> <a class="pull-right">แต่งงาน</a>
                            </li>
                            <li class="list-group-item">
                                <b>สถานภาพทางทหาร</b> <a class="pull-right">ปลดเป็นกองหนุน</a>
                            </li>
                        </ul>
                        <strong><i class="fa fa-book margin-r-5"></i>ระดับการศึกษา</strong>

                        <p class="text-muted">
                          
                        </p>

                        <hr>

                        <strong><i class="fa fa-map-marker margin-r-5"></i>ที่อยู่</strong>

                        <p class="text-muted">44 หมู่ 5 ตำบลสำนักท้อน อำเภอบ้านฉาง จังหวัดระยอง</p>

                       
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">ประวัติครอบครัว</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">                      
                        <strong><i class="fa fa-file-text-o margin-r-5"></i>บิดา</strong>
                        <p class="text-muted">นายชาย สุวรรณพงษ์</p>
                        <p class="text-muted">อายุ - ปี</p>
                        <p class="text-muted">อาชีพ เสียชีวิต</p>
                        <hr>
                        <strong><i class="fa fa-file-text-o margin-r-5"></i>มารดา</strong>
                        <p class="text-muted">นางโกสุม สุวรรณพงษ์</p>
                        <p class="text-muted">อายุ - ปี</p>
                        <p class="text-muted">อาชีพ เสียชีวิต</p>
                        <hr>
                        <strong><i class="fa fa-file-text-o margin-r-5"></i>ภรรยา</strong>
                        <p class="text-muted">นางหาลีม๊ะ สุวรรณพงษ์</p>
                        <p class="text-muted">สถานที่ทำงาน -</p>
                        <p class="text-muted">ตำแหน่ง</p>
                        <p class="text-muted">จำนวนบุตร 2 คน</p>
          
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-primary collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">บัตรประชาชน-ใบขับขี่</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @*<div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>วันที่</th>
                                <th>รายละเอียด</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="/TTMS/DriverDetails">1</a></td>
                                <td>12/7/2556</td>
                                <td>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>

                            </tr>
                            <tr>
                                <td><a href="/TTMS/DriverDetails">2</a></td>
                                <td>12/9/2556</td>
                                <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>

                            </tr>
                            <tr>
                                <td><a href="/TTMS/DriverDetails">3</a></td>
                                <td>8/12/2556</td>
                                <td>qqqqwwgjghlj;jk;flkfjdfkkgjkfhlhflhl</td>

                            </tr>
                        </tbody>
                    </table>
                </div>*@
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <a href="javascript:void(0)" class="btn btn-sm btn-success btn-flat pull-right">Add</a>
                        @*    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>*@
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-8">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">ประวัติการปฎิบัติงาน</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                         @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>วันที่</th>
                                        <th>รายละเอียด</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">1</a></td>
                                        <td>12/7/2556</td>
                                        <td>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>
                                     
                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">2</a></td>
                                        <td>12/9/2556</td>
                                        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>

                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">3</a></td>
                                        <td>8/12/2556</td>
                                        <td>qqqqwwgjghlj;jk;flkfjdfkkgjkfhlhflhl</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-md-12">
                            <label>รายละเอียด</label>

                            <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Enter ..."></textarea>

                        </div>
                        <div class="col-md-5">
                            <label>วันที่</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>

                                <input class="form-control" data-val="true" data-val-required="Date is required"
                                       id="Date3" name="Date3" type="date" value="1/11/1989" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label>เวลา</label>
                            <select class="form-control" id="Time" name="Time">

                                <option value="">-- Select Pick up Time --</option>
                                <option data-ng-value="00:00">00:00</option>
                                <option data-ng-value="00:15">00:15</option>
                                <option data-ng-value="00:30">00:30</option>
                                <option data-ng-value="00:45">00:45</option>
                                <option data-ng-value="01:00">01:00</option>
                                <option data-ng-value="01:15">01:15</option>
                                <option data-ng-value="01:30">01:30</option>
                                <option data-ng-value="01:45">01:45</option>
                                <option data-ng-value="02:00">02:00</option>
                                <option data-ng-value="02:15">02:15</option>
                                <option data-ng-value="02:30">02:30</option>
                                <option data-ng-value="02:45">02:45</option>
                                <option data-ng-value="03:00">03:00</option>
                                <option data-ng-value="03:15">03:15</option>
                                <option data-ng-value="03:30">03:30</option>
                                <option data-ng-value="03:45">03:45</option>
                                <option data-ng-value="04:00">04:00</option>
                                <option data-ng-value="04:15">04:15</option>
                                <option data-ng-value="04:30">04:30</option>
                                <option data-ng-value="04:45">04:45</option>
                                <option data-ng-value="05:00">05:00</option>
                                <option data-ng-value="05:15">05:15</option>
                                <option data-ng-value="05:30">05:30</option>
                                <option data-ng-value="05:45">05:45</option>
                                <option data-ng-value="06:00">06:00</option>
                                <option data-ng-value="06:15">06:15</option>
                                <option data-ng-value="06:30">06:30</option>
                                <option data-ng-value="06:45">06:45</option>
                                <option data-ng-value="07:00">07:00</option>
                                <option data-ng-value="07:15">07:15</option>
                                <option data-ng-value="07:30">07:30</option>
                                <option data-ng-value="07:45">07:45</option>
                                <option data-ng-value="08:00">08:00</option>
                                <option data-ng-value="08:15">08:15</option>
                                <option data-ng-value="08:30">08:30</option>
                                <option data-ng-value="08:45">08:45</option>
                                <option data-ng-value="09:00">09:00</option>
                                <option data-ng-value="09:15">09:15</option>
                                <option data-ng-value="09:30">09:30</option>
                                <option data-ng-value="09:45">09:45</option>
                                <option data-ng-value="10:00">10:00</option>
                                <option data-ng-value="10:15">10:15</option>
                                <option data-ng-value="10:30">10:30</option>
                                <option data-ng-value="10:45">10:45</option>
                                <option data-ng-value="11:00">11:00</option>
                                <option data-ng-value="11:15">11:15</option>
                                <option data-ng-value="11:30">11:30</option>
                                <option data-ng-value="11:45">11:45</option>
                                <option data-ng-value="12:00">12:00</option>
                                <option data-ng-value="12:15">12:15</option>
                                <option data-ng-value="12:30">12:30</option>
                                <option data-ng-value="12:45">12:45</option>
                                <option data-ng-value="13:00">13:00</option>
                                <option data-ng-value="13:15">13:15</option>
                                <option data-ng-value="13:30">13:30</option>
                                <option data-ng-value="13:45">13:45</option>
                                <option data-ng-value="14:00">14:00</option>
                                <option data-ng-value="14:15">14:15</option>
                                <option data-ng-value="14:30">14:30</option>
                                <option data-ng-value="14:45">14:45</option>
                                <option data-ng-value="15:00">15:00</option>
                                <option data-ng-value="15:15">15:15</option>
                                <option data-ng-value="15:30">15:30</option>
                                <option data-ng-value="15:45">15:45</option>
                                <option data-ng-value="16:00">16:00</option>
                                <option data-ng-value="16:15">16:15</option>
                                <option data-ng-value="16:30">16:30</option>
                                <option data-ng-value="16:45">16:45</option>
                                <option data-ng-value="17:00">17:00</option>
                                <option data-ng-value="17:15">17:15</option>
                                <option data-ng-value="17:30">17:30</option>
                                <option data-ng-value="17:45">17:45</option>
                                <option data-ng-value="18:00">18:00</option>
                                <option data-ng-value="18:15">18:15</option>
                                <option data-ng-value="18:30">18:30</option>
                                <option data-ng-value="18:45">18:45</option>
                                <option data-ng-value="19:00">19:00</option>
                                <option data-ng-value="19:15">19:15</option>
                                <option data-ng-value="19:30">19:30</option>
                                <option data-ng-value="19:45">19:45</option>
                                <option data-ng-value="20:00">20:00</option>
                                <option data-ng-value="20:15">20:15</option>
                                <option data-ng-value="20:30">20:30</option>
                                <option data-ng-value="20:45">20:45</option>
                                <option data-ng-value="21:00">21:00</option>
                                <option data-ng-value="21:15">21:15</option>
                                <option data-ng-value="21:30">21:30</option>
                                <option data-ng-value="21:45">21:45</option>
                                <option data-ng-value="22:00">22:00</option>
                                <option data-ng-value="22:15">22:15</option>
                                <option data-ng-value="22:30">22:30</option>
                                <option data-ng-value="22:45">22:45</option>
                                <option data-ng-value="23:00">23:00</option>
                                <option data-ng-value="23:15">23:15</option>
                                <option data-ng-value="23:30">23:30</option>
                                <option data-ng-value="23:45">23:45</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button type="submit" class="btn btn-info btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">Add</button>
                        </div>
                       
                          
                        </div>
                    <!-- /.box-footer -->
                </div>
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">ประวัติการฝึกอบรม</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>วันที่</th>
                                        <th>รายละเอียด</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">1</a></td>
                                        <td>12/7/2556</td>
                                        <td>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>

                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">2</a></td>
                                        <td>12/9/2556</td>
                                        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>

                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">3</a></td>
                                        <td>8/12/2556</td>
                                        <td>qqqqwwgjghlj;jk;flkfjdfkkgjkfhlhflhl</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-md-12">
                            <label>รายละเอียด</label>

                            <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Enter ..."></textarea>

                        </div>
                        <div class="col-md-5">
                            <label>วันที่</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>

                                <input class="form-control" data-val="true" data-val-required="Date is required"
                                       id="Date3" name="Date3" type="date" value="1/11/1989" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label>เวลา</label>
                            <select class="form-control" id="Time" name="Time">

                                <option value="">-- Select Pick up Time --</option>
                                <option data-ng-value="00:00">00:00</option>
                                <option data-ng-value="00:15">00:15</option>
                                <option data-ng-value="00:30">00:30</option>
                                <option data-ng-value="00:45">00:45</option>
                                <option data-ng-value="01:00">01:00</option>
                                <option data-ng-value="01:15">01:15</option>
                                <option data-ng-value="01:30">01:30</option>
                                <option data-ng-value="01:45">01:45</option>
                                <option data-ng-value="02:00">02:00</option>
                                <option data-ng-value="02:15">02:15</option>
                                <option data-ng-value="02:30">02:30</option>
                                <option data-ng-value="02:45">02:45</option>
                                <option data-ng-value="03:00">03:00</option>
                                <option data-ng-value="03:15">03:15</option>
                                <option data-ng-value="03:30">03:30</option>
                                <option data-ng-value="03:45">03:45</option>
                                <option data-ng-value="04:00">04:00</option>
                                <option data-ng-value="04:15">04:15</option>
                                <option data-ng-value="04:30">04:30</option>
                                <option data-ng-value="04:45">04:45</option>
                                <option data-ng-value="05:00">05:00</option>
                                <option data-ng-value="05:15">05:15</option>
                                <option data-ng-value="05:30">05:30</option>
                                <option data-ng-value="05:45">05:45</option>
                                <option data-ng-value="06:00">06:00</option>
                                <option data-ng-value="06:15">06:15</option>
                                <option data-ng-value="06:30">06:30</option>
                                <option data-ng-value="06:45">06:45</option>
                                <option data-ng-value="07:00">07:00</option>
                                <option data-ng-value="07:15">07:15</option>
                                <option data-ng-value="07:30">07:30</option>
                                <option data-ng-value="07:45">07:45</option>
                                <option data-ng-value="08:00">08:00</option>
                                <option data-ng-value="08:15">08:15</option>
                                <option data-ng-value="08:30">08:30</option>
                                <option data-ng-value="08:45">08:45</option>
                                <option data-ng-value="09:00">09:00</option>
                                <option data-ng-value="09:15">09:15</option>
                                <option data-ng-value="09:30">09:30</option>
                                <option data-ng-value="09:45">09:45</option>
                                <option data-ng-value="10:00">10:00</option>
                                <option data-ng-value="10:15">10:15</option>
                                <option data-ng-value="10:30">10:30</option>
                                <option data-ng-value="10:45">10:45</option>
                                <option data-ng-value="11:00">11:00</option>
                                <option data-ng-value="11:15">11:15</option>
                                <option data-ng-value="11:30">11:30</option>
                                <option data-ng-value="11:45">11:45</option>
                                <option data-ng-value="12:00">12:00</option>
                                <option data-ng-value="12:15">12:15</option>
                                <option data-ng-value="12:30">12:30</option>
                                <option data-ng-value="12:45">12:45</option>
                                <option data-ng-value="13:00">13:00</option>
                                <option data-ng-value="13:15">13:15</option>
                                <option data-ng-value="13:30">13:30</option>
                                <option data-ng-value="13:45">13:45</option>
                                <option data-ng-value="14:00">14:00</option>
                                <option data-ng-value="14:15">14:15</option>
                                <option data-ng-value="14:30">14:30</option>
                                <option data-ng-value="14:45">14:45</option>
                                <option data-ng-value="15:00">15:00</option>
                                <option data-ng-value="15:15">15:15</option>
                                <option data-ng-value="15:30">15:30</option>
                                <option data-ng-value="15:45">15:45</option>
                                <option data-ng-value="16:00">16:00</option>
                                <option data-ng-value="16:15">16:15</option>
                                <option data-ng-value="16:30">16:30</option>
                                <option data-ng-value="16:45">16:45</option>
                                <option data-ng-value="17:00">17:00</option>
                                <option data-ng-value="17:15">17:15</option>
                                <option data-ng-value="17:30">17:30</option>
                                <option data-ng-value="17:45">17:45</option>
                                <option data-ng-value="18:00">18:00</option>
                                <option data-ng-value="18:15">18:15</option>
                                <option data-ng-value="18:30">18:30</option>
                                <option data-ng-value="18:45">18:45</option>
                                <option data-ng-value="19:00">19:00</option>
                                <option data-ng-value="19:15">19:15</option>
                                <option data-ng-value="19:30">19:30</option>
                                <option data-ng-value="19:45">19:45</option>
                                <option data-ng-value="20:00">20:00</option>
                                <option data-ng-value="20:15">20:15</option>
                                <option data-ng-value="20:30">20:30</option>
                                <option data-ng-value="20:45">20:45</option>
                                <option data-ng-value="21:00">21:00</option>
                                <option data-ng-value="21:15">21:15</option>
                                <option data-ng-value="21:30">21:30</option>
                                <option data-ng-value="21:45">21:45</option>
                                <option data-ng-value="22:00">22:00</option>
                                <option data-ng-value="22:15">22:15</option>
                                <option data-ng-value="22:30">22:30</option>
                                <option data-ng-value="22:45">22:45</option>
                                <option data-ng-value="23:00">23:00</option>
                                <option data-ng-value="23:15">23:15</option>
                                <option data-ng-value="23:30">23:30</option>
                                <option data-ng-value="23:45">23:45</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button type="submit" class="btn btn-success btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">Add</button>
                        </div>


                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">ประวัติการละเมิด GPS</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>วันที่</th>
                                        <th>รายละเอียด</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">1</a></td>
                                        <td>12/7/2556</td>
                                        <td>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>

                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">2</a></td>
                                        <td>12/9/2556</td>
                                        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>

                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">3</a></td>
                                        <td>8/12/2556</td>
                                        <td>qqqqwwgjghlj;jk;flkfjdfkkgjkfhlhflhl</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-md-12">
                            <label>รายละเอียด</label>

                            <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Enter ..."></textarea>

                        </div>
                        <div class="col-md-5">
                            <label>วันที่</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>

                                <input class="form-control" data-val="true" data-val-required="Date is required"
                                       id="Date3" name="Date3" type="date" value="1/11/1989" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label>เวลา</label>
                            <select class="form-control" id="Time" name="Time">

                                <option value="">-- Select Pick up Time --</option>
                                <option data-ng-value="00:00">00:00</option>
                                <option data-ng-value="00:15">00:15</option>
                                <option data-ng-value="00:30">00:30</option>
                                <option data-ng-value="00:45">00:45</option>
                                <option data-ng-value="01:00">01:00</option>
                                <option data-ng-value="01:15">01:15</option>
                                <option data-ng-value="01:30">01:30</option>
                                <option data-ng-value="01:45">01:45</option>
                                <option data-ng-value="02:00">02:00</option>
                                <option data-ng-value="02:15">02:15</option>
                                <option data-ng-value="02:30">02:30</option>
                                <option data-ng-value="02:45">02:45</option>
                                <option data-ng-value="03:00">03:00</option>
                                <option data-ng-value="03:15">03:15</option>
                                <option data-ng-value="03:30">03:30</option>
                                <option data-ng-value="03:45">03:45</option>
                                <option data-ng-value="04:00">04:00</option>
                                <option data-ng-value="04:15">04:15</option>
                                <option data-ng-value="04:30">04:30</option>
                                <option data-ng-value="04:45">04:45</option>
                                <option data-ng-value="05:00">05:00</option>
                                <option data-ng-value="05:15">05:15</option>
                                <option data-ng-value="05:30">05:30</option>
                                <option data-ng-value="05:45">05:45</option>
                                <option data-ng-value="06:00">06:00</option>
                                <option data-ng-value="06:15">06:15</option>
                                <option data-ng-value="06:30">06:30</option>
                                <option data-ng-value="06:45">06:45</option>
                                <option data-ng-value="07:00">07:00</option>
                                <option data-ng-value="07:15">07:15</option>
                                <option data-ng-value="07:30">07:30</option>
                                <option data-ng-value="07:45">07:45</option>
                                <option data-ng-value="08:00">08:00</option>
                                <option data-ng-value="08:15">08:15</option>
                                <option data-ng-value="08:30">08:30</option>
                                <option data-ng-value="08:45">08:45</option>
                                <option data-ng-value="09:00">09:00</option>
                                <option data-ng-value="09:15">09:15</option>
                                <option data-ng-value="09:30">09:30</option>
                                <option data-ng-value="09:45">09:45</option>
                                <option data-ng-value="10:00">10:00</option>
                                <option data-ng-value="10:15">10:15</option>
                                <option data-ng-value="10:30">10:30</option>
                                <option data-ng-value="10:45">10:45</option>
                                <option data-ng-value="11:00">11:00</option>
                                <option data-ng-value="11:15">11:15</option>
                                <option data-ng-value="11:30">11:30</option>
                                <option data-ng-value="11:45">11:45</option>
                                <option data-ng-value="12:00">12:00</option>
                                <option data-ng-value="12:15">12:15</option>
                                <option data-ng-value="12:30">12:30</option>
                                <option data-ng-value="12:45">12:45</option>
                                <option data-ng-value="13:00">13:00</option>
                                <option data-ng-value="13:15">13:15</option>
                                <option data-ng-value="13:30">13:30</option>
                                <option data-ng-value="13:45">13:45</option>
                                <option data-ng-value="14:00">14:00</option>
                                <option data-ng-value="14:15">14:15</option>
                                <option data-ng-value="14:30">14:30</option>
                                <option data-ng-value="14:45">14:45</option>
                                <option data-ng-value="15:00">15:00</option>
                                <option data-ng-value="15:15">15:15</option>
                                <option data-ng-value="15:30">15:30</option>
                                <option data-ng-value="15:45">15:45</option>
                                <option data-ng-value="16:00">16:00</option>
                                <option data-ng-value="16:15">16:15</option>
                                <option data-ng-value="16:30">16:30</option>
                                <option data-ng-value="16:45">16:45</option>
                                <option data-ng-value="17:00">17:00</option>
                                <option data-ng-value="17:15">17:15</option>
                                <option data-ng-value="17:30">17:30</option>
                                <option data-ng-value="17:45">17:45</option>
                                <option data-ng-value="18:00">18:00</option>
                                <option data-ng-value="18:15">18:15</option>
                                <option data-ng-value="18:30">18:30</option>
                                <option data-ng-value="18:45">18:45</option>
                                <option data-ng-value="19:00">19:00</option>
                                <option data-ng-value="19:15">19:15</option>
                                <option data-ng-value="19:30">19:30</option>
                                <option data-ng-value="19:45">19:45</option>
                                <option data-ng-value="20:00">20:00</option>
                                <option data-ng-value="20:15">20:15</option>
                                <option data-ng-value="20:30">20:30</option>
                                <option data-ng-value="20:45">20:45</option>
                                <option data-ng-value="21:00">21:00</option>
                                <option data-ng-value="21:15">21:15</option>
                                <option data-ng-value="21:30">21:30</option>
                                <option data-ng-value="21:45">21:45</option>
                                <option data-ng-value="22:00">22:00</option>
                                <option data-ng-value="22:15">22:15</option>
                                <option data-ng-value="22:30">22:30</option>
                                <option data-ng-value="22:45">22:45</option>
                                <option data-ng-value="23:00">23:00</option>
                                <option data-ng-value="23:15">23:15</option>
                                <option data-ng-value="23:30">23:30</option>
                                <option data-ng-value="23:45">23:45</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button type="submit" class="btn btn-warning btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">Add</button>
                        </div>


                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">ประวัติการถูกตักเตือน</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>วันที่</th>
                                        <th>รายละเอียด</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">1</a></td>
                                        <td>12/7/2556</td>
                                        <td>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>

                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">2</a></td>
                                        <td>12/9/2556</td>
                                        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>

                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">3</a></td>
                                        <td>8/12/2556</td>
                                        <td>qqqqwwgjghlj;jk;flkfjdfkkgjkfhlhflhl</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-md-12">
                            <label>รายละเอียด</label>

                            <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Enter ..."></textarea>

                        </div>
                        <div class="col-md-5">
                            <label>วันที่</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>

                                <input class="form-control" data-val="true" data-val-required="Date is required"
                                       id="Date3" name="Date3" type="date" value="1/11/1989" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label>เวลา</label>
                            <select class="form-control" id="Time" name="Time">

                                <option value="">-- Select Pick up Time --</option>
                                <option data-ng-value="00:00">00:00</option>
                                <option data-ng-value="00:15">00:15</option>
                                <option data-ng-value="00:30">00:30</option>
                                <option data-ng-value="00:45">00:45</option>
                                <option data-ng-value="01:00">01:00</option>
                                <option data-ng-value="01:15">01:15</option>
                                <option data-ng-value="01:30">01:30</option>
                                <option data-ng-value="01:45">01:45</option>
                                <option data-ng-value="02:00">02:00</option>
                                <option data-ng-value="02:15">02:15</option>
                                <option data-ng-value="02:30">02:30</option>
                                <option data-ng-value="02:45">02:45</option>
                                <option data-ng-value="03:00">03:00</option>
                                <option data-ng-value="03:15">03:15</option>
                                <option data-ng-value="03:30">03:30</option>
                                <option data-ng-value="03:45">03:45</option>
                                <option data-ng-value="04:00">04:00</option>
                                <option data-ng-value="04:15">04:15</option>
                                <option data-ng-value="04:30">04:30</option>
                                <option data-ng-value="04:45">04:45</option>
                                <option data-ng-value="05:00">05:00</option>
                                <option data-ng-value="05:15">05:15</option>
                                <option data-ng-value="05:30">05:30</option>
                                <option data-ng-value="05:45">05:45</option>
                                <option data-ng-value="06:00">06:00</option>
                                <option data-ng-value="06:15">06:15</option>
                                <option data-ng-value="06:30">06:30</option>
                                <option data-ng-value="06:45">06:45</option>
                                <option data-ng-value="07:00">07:00</option>
                                <option data-ng-value="07:15">07:15</option>
                                <option data-ng-value="07:30">07:30</option>
                                <option data-ng-value="07:45">07:45</option>
                                <option data-ng-value="08:00">08:00</option>
                                <option data-ng-value="08:15">08:15</option>
                                <option data-ng-value="08:30">08:30</option>
                                <option data-ng-value="08:45">08:45</option>
                                <option data-ng-value="09:00">09:00</option>
                                <option data-ng-value="09:15">09:15</option>
                                <option data-ng-value="09:30">09:30</option>
                                <option data-ng-value="09:45">09:45</option>
                                <option data-ng-value="10:00">10:00</option>
                                <option data-ng-value="10:15">10:15</option>
                                <option data-ng-value="10:30">10:30</option>
                                <option data-ng-value="10:45">10:45</option>
                                <option data-ng-value="11:00">11:00</option>
                                <option data-ng-value="11:15">11:15</option>
                                <option data-ng-value="11:30">11:30</option>
                                <option data-ng-value="11:45">11:45</option>
                                <option data-ng-value="12:00">12:00</option>
                                <option data-ng-value="12:15">12:15</option>
                                <option data-ng-value="12:30">12:30</option>
                                <option data-ng-value="12:45">12:45</option>
                                <option data-ng-value="13:00">13:00</option>
                                <option data-ng-value="13:15">13:15</option>
                                <option data-ng-value="13:30">13:30</option>
                                <option data-ng-value="13:45">13:45</option>
                                <option data-ng-value="14:00">14:00</option>
                                <option data-ng-value="14:15">14:15</option>
                                <option data-ng-value="14:30">14:30</option>
                                <option data-ng-value="14:45">14:45</option>
                                <option data-ng-value="15:00">15:00</option>
                                <option data-ng-value="15:15">15:15</option>
                                <option data-ng-value="15:30">15:30</option>
                                <option data-ng-value="15:45">15:45</option>
                                <option data-ng-value="16:00">16:00</option>
                                <option data-ng-value="16:15">16:15</option>
                                <option data-ng-value="16:30">16:30</option>
                                <option data-ng-value="16:45">16:45</option>
                                <option data-ng-value="17:00">17:00</option>
                                <option data-ng-value="17:15">17:15</option>
                                <option data-ng-value="17:30">17:30</option>
                                <option data-ng-value="17:45">17:45</option>
                                <option data-ng-value="18:00">18:00</option>
                                <option data-ng-value="18:15">18:15</option>
                                <option data-ng-value="18:30">18:30</option>
                                <option data-ng-value="18:45">18:45</option>
                                <option data-ng-value="19:00">19:00</option>
                                <option data-ng-value="19:15">19:15</option>
                                <option data-ng-value="19:30">19:30</option>
                                <option data-ng-value="19:45">19:45</option>
                                <option data-ng-value="20:00">20:00</option>
                                <option data-ng-value="20:15">20:15</option>
                                <option data-ng-value="20:30">20:30</option>
                                <option data-ng-value="20:45">20:45</option>
                                <option data-ng-value="21:00">21:00</option>
                                <option data-ng-value="21:15">21:15</option>
                                <option data-ng-value="21:30">21:30</option>
                                <option data-ng-value="21:45">21:45</option>
                                <option data-ng-value="22:00">22:00</option>
                                <option data-ng-value="22:15">22:15</option>
                                <option data-ng-value="22:30">22:30</option>
                                <option data-ng-value="22:45">22:45</option>
                                <option data-ng-value="23:00">23:00</option>
                                <option data-ng-value="23:15">23:15</option>
                                <option data-ng-value="23:30">23:30</option>
                                <option data-ng-value="23:45">23:45</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button type="submit" class="btn btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">Add</button>
                        </div>


                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">ประวัติการเกิดอุบัติเหตุ</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>วันที่</th>
                                        <th>รายละเอียด</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">1</a></td>
                                        <td>12/7/2556</td>
                                        <td>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>

                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">2</a></td>
                                        <td>12/9/2556</td>
                                        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>

                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">3</a></td>
                                        <td>8/12/2556</td>
                                        <td>qqqqwwgjghlj;jk;flkfjdfkkgjkfhlhflhl</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-md-12">
                            <label>รายละเอียด</label>

                            <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Enter ..."></textarea>

                        </div>
                        <div class="col-md-5">
                            <label>วันที่</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>

                                <input class="form-control" data-val="true" data-val-required="Date is required"
                                       id="Date3" name="Date3" type="date" value="1/11/1989" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label>เวลา</label>
                            <select class="form-control" id="Time" name="Time">

                                <option value="">-- Select Pick up Time --</option>
                                <option data-ng-value="00:00">00:00</option>
                                <option data-ng-value="00:15">00:15</option>
                                <option data-ng-value="00:30">00:30</option>
                                <option data-ng-value="00:45">00:45</option>
                                <option data-ng-value="01:00">01:00</option>
                                <option data-ng-value="01:15">01:15</option>
                                <option data-ng-value="01:30">01:30</option>
                                <option data-ng-value="01:45">01:45</option>
                                <option data-ng-value="02:00">02:00</option>
                                <option data-ng-value="02:15">02:15</option>
                                <option data-ng-value="02:30">02:30</option>
                                <option data-ng-value="02:45">02:45</option>
                                <option data-ng-value="03:00">03:00</option>
                                <option data-ng-value="03:15">03:15</option>
                                <option data-ng-value="03:30">03:30</option>
                                <option data-ng-value="03:45">03:45</option>
                                <option data-ng-value="04:00">04:00</option>
                                <option data-ng-value="04:15">04:15</option>
                                <option data-ng-value="04:30">04:30</option>
                                <option data-ng-value="04:45">04:45</option>
                                <option data-ng-value="05:00">05:00</option>
                                <option data-ng-value="05:15">05:15</option>
                                <option data-ng-value="05:30">05:30</option>
                                <option data-ng-value="05:45">05:45</option>
                                <option data-ng-value="06:00">06:00</option>
                                <option data-ng-value="06:15">06:15</option>
                                <option data-ng-value="06:30">06:30</option>
                                <option data-ng-value="06:45">06:45</option>
                                <option data-ng-value="07:00">07:00</option>
                                <option data-ng-value="07:15">07:15</option>
                                <option data-ng-value="07:30">07:30</option>
                                <option data-ng-value="07:45">07:45</option>
                                <option data-ng-value="08:00">08:00</option>
                                <option data-ng-value="08:15">08:15</option>
                                <option data-ng-value="08:30">08:30</option>
                                <option data-ng-value="08:45">08:45</option>
                                <option data-ng-value="09:00">09:00</option>
                                <option data-ng-value="09:15">09:15</option>
                                <option data-ng-value="09:30">09:30</option>
                                <option data-ng-value="09:45">09:45</option>
                                <option data-ng-value="10:00">10:00</option>
                                <option data-ng-value="10:15">10:15</option>
                                <option data-ng-value="10:30">10:30</option>
                                <option data-ng-value="10:45">10:45</option>
                                <option data-ng-value="11:00">11:00</option>
                                <option data-ng-value="11:15">11:15</option>
                                <option data-ng-value="11:30">11:30</option>
                                <option data-ng-value="11:45">11:45</option>
                                <option data-ng-value="12:00">12:00</option>
                                <option data-ng-value="12:15">12:15</option>
                                <option data-ng-value="12:30">12:30</option>
                                <option data-ng-value="12:45">12:45</option>
                                <option data-ng-value="13:00">13:00</option>
                                <option data-ng-value="13:15">13:15</option>
                                <option data-ng-value="13:30">13:30</option>
                                <option data-ng-value="13:45">13:45</option>
                                <option data-ng-value="14:00">14:00</option>
                                <option data-ng-value="14:15">14:15</option>
                                <option data-ng-value="14:30">14:30</option>
                                <option data-ng-value="14:45">14:45</option>
                                <option data-ng-value="15:00">15:00</option>
                                <option data-ng-value="15:15">15:15</option>
                                <option data-ng-value="15:30">15:30</option>
                                <option data-ng-value="15:45">15:45</option>
                                <option data-ng-value="16:00">16:00</option>
                                <option data-ng-value="16:15">16:15</option>
                                <option data-ng-value="16:30">16:30</option>
                                <option data-ng-value="16:45">16:45</option>
                                <option data-ng-value="17:00">17:00</option>
                                <option data-ng-value="17:15">17:15</option>
                                <option data-ng-value="17:30">17:30</option>
                                <option data-ng-value="17:45">17:45</option>
                                <option data-ng-value="18:00">18:00</option>
                                <option data-ng-value="18:15">18:15</option>
                                <option data-ng-value="18:30">18:30</option>
                                <option data-ng-value="18:45">18:45</option>
                                <option data-ng-value="19:00">19:00</option>
                                <option data-ng-value="19:15">19:15</option>
                                <option data-ng-value="19:30">19:30</option>
                                <option data-ng-value="19:45">19:45</option>
                                <option data-ng-value="20:00">20:00</option>
                                <option data-ng-value="20:15">20:15</option>
                                <option data-ng-value="20:30">20:30</option>
                                <option data-ng-value="20:45">20:45</option>
                                <option data-ng-value="21:00">21:00</option>
                                <option data-ng-value="21:15">21:15</option>
                                <option data-ng-value="21:30">21:30</option>
                                <option data-ng-value="21:45">21:45</option>
                                <option data-ng-value="22:00">22:00</option>
                                <option data-ng-value="22:15">22:15</option>
                                <option data-ng-value="22:30">22:30</option>
                                <option data-ng-value="22:45">22:45</option>
                                <option data-ng-value="23:00">23:00</option>
                                <option data-ng-value="23:15">23:15</option>
                                <option data-ng-value="23:30">23:30</option>
                                <option data-ng-value="23:45">23:45</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button type="submit" class="btn btn-danger btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">Add</button>
                        </div>


                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
               
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">ประวัติการตรวจสุขภาพ/ยาเสพติด</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>วันที่</th>
                                        <th>รายละเอียด</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">1</a></td>
                                        <td>12/7/2556</td>
                                        <td>zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</td>

                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">2</a></td>
                                        <td>12/9/2556</td>
                                        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>

                                    </tr>
                                    <tr>
                                        <td><a href="/TTMS/DriverDetails">3</a></td>
                                        <td>8/12/2556</td>
                                        <td>qqqqwwgjghlj;jk;flkfjdfkkgjkfhlhflhl</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="col-md-12">
                            <label>รายละเอียด</label>

                            <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Enter ..."></textarea>

                        </div>
                        <div class="col-md-5">
                            <label>วันที่</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>

                                <input class="form-control" data-val="true" data-val-required="Date is required"
                                       id="Date3" name="Date3" type="date" value="1/11/1989" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label>เวลา</label>
                            <select class="form-control" id="Time" name="Time">

                                <option value="">-- Select Pick up Time --</option>
                                <option data-ng-value="00:00">00:00</option>
                                <option data-ng-value="00:15">00:15</option>
                                <option data-ng-value="00:30">00:30</option>
                                <option data-ng-value="00:45">00:45</option>
                                <option data-ng-value="01:00">01:00</option>
                                <option data-ng-value="01:15">01:15</option>
                                <option data-ng-value="01:30">01:30</option>
                                <option data-ng-value="01:45">01:45</option>
                                <option data-ng-value="02:00">02:00</option>
                                <option data-ng-value="02:15">02:15</option>
                                <option data-ng-value="02:30">02:30</option>
                                <option data-ng-value="02:45">02:45</option>
                                <option data-ng-value="03:00">03:00</option>
                                <option data-ng-value="03:15">03:15</option>
                                <option data-ng-value="03:30">03:30</option>
                                <option data-ng-value="03:45">03:45</option>
                                <option data-ng-value="04:00">04:00</option>
                                <option data-ng-value="04:15">04:15</option>
                                <option data-ng-value="04:30">04:30</option>
                                <option data-ng-value="04:45">04:45</option>
                                <option data-ng-value="05:00">05:00</option>
                                <option data-ng-value="05:15">05:15</option>
                                <option data-ng-value="05:30">05:30</option>
                                <option data-ng-value="05:45">05:45</option>
                                <option data-ng-value="06:00">06:00</option>
                                <option data-ng-value="06:15">06:15</option>
                                <option data-ng-value="06:30">06:30</option>
                                <option data-ng-value="06:45">06:45</option>
                                <option data-ng-value="07:00">07:00</option>
                                <option data-ng-value="07:15">07:15</option>
                                <option data-ng-value="07:30">07:30</option>
                                <option data-ng-value="07:45">07:45</option>
                                <option data-ng-value="08:00">08:00</option>
                                <option data-ng-value="08:15">08:15</option>
                                <option data-ng-value="08:30">08:30</option>
                                <option data-ng-value="08:45">08:45</option>
                                <option data-ng-value="09:00">09:00</option>
                                <option data-ng-value="09:15">09:15</option>
                                <option data-ng-value="09:30">09:30</option>
                                <option data-ng-value="09:45">09:45</option>
                                <option data-ng-value="10:00">10:00</option>
                                <option data-ng-value="10:15">10:15</option>
                                <option data-ng-value="10:30">10:30</option>
                                <option data-ng-value="10:45">10:45</option>
                                <option data-ng-value="11:00">11:00</option>
                                <option data-ng-value="11:15">11:15</option>
                                <option data-ng-value="11:30">11:30</option>
                                <option data-ng-value="11:45">11:45</option>
                                <option data-ng-value="12:00">12:00</option>
                                <option data-ng-value="12:15">12:15</option>
                                <option data-ng-value="12:30">12:30</option>
                                <option data-ng-value="12:45">12:45</option>
                                <option data-ng-value="13:00">13:00</option>
                                <option data-ng-value="13:15">13:15</option>
                                <option data-ng-value="13:30">13:30</option>
                                <option data-ng-value="13:45">13:45</option>
                                <option data-ng-value="14:00">14:00</option>
                                <option data-ng-value="14:15">14:15</option>
                                <option data-ng-value="14:30">14:30</option>
                                <option data-ng-value="14:45">14:45</option>
                                <option data-ng-value="15:00">15:00</option>
                                <option data-ng-value="15:15">15:15</option>
                                <option data-ng-value="15:30">15:30</option>
                                <option data-ng-value="15:45">15:45</option>
                                <option data-ng-value="16:00">16:00</option>
                                <option data-ng-value="16:15">16:15</option>
                                <option data-ng-value="16:30">16:30</option>
                                <option data-ng-value="16:45">16:45</option>
                                <option data-ng-value="17:00">17:00</option>
                                <option data-ng-value="17:15">17:15</option>
                                <option data-ng-value="17:30">17:30</option>
                                <option data-ng-value="17:45">17:45</option>
                                <option data-ng-value="18:00">18:00</option>
                                <option data-ng-value="18:15">18:15</option>
                                <option data-ng-value="18:30">18:30</option>
                                <option data-ng-value="18:45">18:45</option>
                                <option data-ng-value="19:00">19:00</option>
                                <option data-ng-value="19:15">19:15</option>
                                <option data-ng-value="19:30">19:30</option>
                                <option data-ng-value="19:45">19:45</option>
                                <option data-ng-value="20:00">20:00</option>
                                <option data-ng-value="20:15">20:15</option>
                                <option data-ng-value="20:30">20:30</option>
                                <option data-ng-value="20:45">20:45</option>
                                <option data-ng-value="21:00">21:00</option>
                                <option data-ng-value="21:15">21:15</option>
                                <option data-ng-value="21:30">21:30</option>
                                <option data-ng-value="21:45">21:45</option>
                                <option data-ng-value="22:00">22:00</option>
                                <option data-ng-value="22:15">22:15</option>
                                <option data-ng-value="22:30">22:30</option>
                                <option data-ng-value="22:45">22:45</option>
                                <option data-ng-value="23:00">23:00</option>
                                <option data-ng-value="23:15">23:15</option>
                                <option data-ng-value="23:30">23:30</option>
                                <option data-ng-value="23:45">23:45</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button type="submit" class="btn btn-success btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">Add</button>
                        </div>


                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->

            </div>
        </div>

    </section>
