@{
    ViewBag.Title = "RepairDetail";
}

<section class="content-header">
    <h1>
        บันทึกการแจ้งซ่อม
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>
<section class="content">

    <div class="row">
        <div class="col-md-12">

          

            <!-- general form elements disabled -->
            <div id="Type1">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">&nbsp;</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">

                        <!-- text input -->

                        <div class="form-group">
                            <div class="col-md-6">
                                <label>เลขที่แจ้งซ่อม</label>
                                <input type="text" class="form-control" placeholder="xxxxx" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>ทะเบียนรถ</label>
                                <select class="form-control" id="Luggage3" name="Luggage3">

                                    @* <option value="">-- Select No of luggage --</option>*@
                                    <option value="1">กท1000</option>
                                    <option value="2">กด1002</option>
                                    <option value="3">พห1111</option>
                                    <option value="4">ยย1222</option>
                                    <option value="5">บย1234</option>

                                </select>
                            </div>

                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>วันที่แจ้งซ่อม</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>

                                    <input class="form-control" data-val="true" data-val-required="Date is required"
                                           id="Date3" name="Date3" type="date" value="1/11/1989" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>เวลาแจ้งซ่อม</label>
                                <select class="form-control" id="Time" name="Time">

                                    <option value="">-- Select Pick up Time --</option>
                                    <option data-ng-value="00:00">00:00</option>
                                    <option data-ng-value="00:15">00:15</option>
                                    <option data-ng-value="00:30">00:30</option>
                                    <option data-ng-value="00:45">00:45</option>
                                    <option data-ng-value="01:00">01:00</option>
                                    <option data-ng-value="01:15">01:15</option>
                                    <option data-ng-value="01:30">01:30</option>
                                    <option data-ng-value="01:45">01:45</option>
                                    <option data-ng-value="02:00">02:00</option>
                                    <option data-ng-value="02:15">02:15</option>
                                    <option data-ng-value="02:30">02:30</option>
                                    <option data-ng-value="02:45">02:45</option>
                                    <option data-ng-value="03:00">03:00</option>
                                    <option data-ng-value="03:15">03:15</option>
                                    <option data-ng-value="03:30">03:30</option>
                                    <option data-ng-value="03:45">03:45</option>
                                    <option data-ng-value="04:00">04:00</option>
                                    <option data-ng-value="04:15">04:15</option>
                                    <option data-ng-value="04:30">04:30</option>
                                    <option data-ng-value="04:45">04:45</option>
                                    <option data-ng-value="05:00">05:00</option>
                                    <option data-ng-value="05:15">05:15</option>
                                    <option data-ng-value="05:30">05:30</option>
                                    <option data-ng-value="05:45">05:45</option>
                                    <option data-ng-value="06:00">06:00</option>
                                    <option data-ng-value="06:15">06:15</option>
                                    <option data-ng-value="06:30">06:30</option>
                                    <option data-ng-value="06:45">06:45</option>
                                    <option data-ng-value="07:00">07:00</option>
                                    <option data-ng-value="07:15">07:15</option>
                                    <option data-ng-value="07:30">07:30</option>
                                    <option data-ng-value="07:45">07:45</option>
                                    <option data-ng-value="08:00">08:00</option>
                                    <option data-ng-value="08:15">08:15</option>
                                    <option data-ng-value="08:30">08:30</option>
                                    <option data-ng-value="08:45">08:45</option>
                                    <option data-ng-value="09:00">09:00</option>
                                    <option data-ng-value="09:15">09:15</option>
                                    <option data-ng-value="09:30">09:30</option>
                                    <option data-ng-value="09:45">09:45</option>
                                    <option data-ng-value="10:00">10:00</option>
                                    <option data-ng-value="10:15">10:15</option>
                                    <option data-ng-value="10:30">10:30</option>
                                    <option data-ng-value="10:45">10:45</option>
                                    <option data-ng-value="11:00">11:00</option>
                                    <option data-ng-value="11:15">11:15</option>
                                    <option data-ng-value="11:30">11:30</option>
                                    <option data-ng-value="11:45">11:45</option>
                                    <option data-ng-value="12:00">12:00</option>
                                    <option data-ng-value="12:15">12:15</option>
                                    <option data-ng-value="12:30">12:30</option>
                                    <option data-ng-value="12:45">12:45</option>
                                    <option data-ng-value="13:00">13:00</option>
                                    <option data-ng-value="13:15">13:15</option>
                                    <option data-ng-value="13:30">13:30</option>
                                    <option data-ng-value="13:45">13:45</option>
                                    <option data-ng-value="14:00">14:00</option>
                                    <option data-ng-value="14:15">14:15</option>
                                    <option data-ng-value="14:30">14:30</option>
                                    <option data-ng-value="14:45">14:45</option>
                                    <option data-ng-value="15:00">15:00</option>
                                    <option data-ng-value="15:15">15:15</option>
                                    <option data-ng-value="15:30">15:30</option>
                                    <option data-ng-value="15:45">15:45</option>
                                    <option data-ng-value="16:00">16:00</option>
                                    <option data-ng-value="16:15">16:15</option>
                                    <option data-ng-value="16:30">16:30</option>
                                    <option data-ng-value="16:45">16:45</option>
                                    <option data-ng-value="17:00">17:00</option>
                                    <option data-ng-value="17:15">17:15</option>
                                    <option data-ng-value="17:30">17:30</option>
                                    <option data-ng-value="17:45">17:45</option>
                                    <option data-ng-value="18:00">18:00</option>
                                    <option data-ng-value="18:15">18:15</option>
                                    <option data-ng-value="18:30">18:30</option>
                                    <option data-ng-value="18:45">18:45</option>
                                    <option data-ng-value="19:00">19:00</option>
                                    <option data-ng-value="19:15">19:15</option>
                                    <option data-ng-value="19:30">19:30</option>
                                    <option data-ng-value="19:45">19:45</option>
                                    <option data-ng-value="20:00">20:00</option>
                                    <option data-ng-value="20:15">20:15</option>
                                    <option data-ng-value="20:30">20:30</option>
                                    <option data-ng-value="20:45">20:45</option>
                                    <option data-ng-value="21:00">21:00</option>
                                    <option data-ng-value="21:15">21:15</option>
                                    <option data-ng-value="21:30">21:30</option>
                                    <option data-ng-value="21:45">21:45</option>
                                    <option data-ng-value="22:00">22:00</option>
                                    <option data-ng-value="22:15">22:15</option>
                                    <option data-ng-value="22:30">22:30</option>
                                    <option data-ng-value="22:45">22:45</option>
                                    <option data-ng-value="23:00">23:00</option>
                                    <option data-ng-value="23:15">23:15</option>
                                    <option data-ng-value="23:30">23:30</option>
                                    <option data-ng-value="23:45">23:45</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>วันที่ซ่อมเสร็จ</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>

                                    <input class="form-control" data-val="true" data-val-required="Date is required"
                                           id="Date3" name="Date3" type="date" value="1/11/1989" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>เวลาซ่อมเสร็จ</label>
                                <select class="form-control" id="Time" name="Time">

                                    <option value="">-- Select Pick up Time --</option>
                                    <option data-ng-value="00:00">00:00</option>
                                    <option data-ng-value="00:15">00:15</option>
                                    <option data-ng-value="00:30">00:30</option>
                                    <option data-ng-value="00:45">00:45</option>
                                    <option data-ng-value="01:00">01:00</option>
                                    <option data-ng-value="01:15">01:15</option>
                                    <option data-ng-value="01:30">01:30</option>
                                    <option data-ng-value="01:45">01:45</option>
                                    <option data-ng-value="02:00">02:00</option>
                                    <option data-ng-value="02:15">02:15</option>
                                    <option data-ng-value="02:30">02:30</option>
                                    <option data-ng-value="02:45">02:45</option>
                                    <option data-ng-value="03:00">03:00</option>
                                    <option data-ng-value="03:15">03:15</option>
                                    <option data-ng-value="03:30">03:30</option>
                                    <option data-ng-value="03:45">03:45</option>
                                    <option data-ng-value="04:00">04:00</option>
                                    <option data-ng-value="04:15">04:15</option>
                                    <option data-ng-value="04:30">04:30</option>
                                    <option data-ng-value="04:45">04:45</option>
                                    <option data-ng-value="05:00">05:00</option>
                                    <option data-ng-value="05:15">05:15</option>
                                    <option data-ng-value="05:30">05:30</option>
                                    <option data-ng-value="05:45">05:45</option>
                                    <option data-ng-value="06:00">06:00</option>
                                    <option data-ng-value="06:15">06:15</option>
                                    <option data-ng-value="06:30">06:30</option>
                                    <option data-ng-value="06:45">06:45</option>
                                    <option data-ng-value="07:00">07:00</option>
                                    <option data-ng-value="07:15">07:15</option>
                                    <option data-ng-value="07:30">07:30</option>
                                    <option data-ng-value="07:45">07:45</option>
                                    <option data-ng-value="08:00">08:00</option>
                                    <option data-ng-value="08:15">08:15</option>
                                    <option data-ng-value="08:30">08:30</option>
                                    <option data-ng-value="08:45">08:45</option>
                                    <option data-ng-value="09:00">09:00</option>
                                    <option data-ng-value="09:15">09:15</option>
                                    <option data-ng-value="09:30">09:30</option>
                                    <option data-ng-value="09:45">09:45</option>
                                    <option data-ng-value="10:00">10:00</option>
                                    <option data-ng-value="10:15">10:15</option>
                                    <option data-ng-value="10:30">10:30</option>
                                    <option data-ng-value="10:45">10:45</option>
                                    <option data-ng-value="11:00">11:00</option>
                                    <option data-ng-value="11:15">11:15</option>
                                    <option data-ng-value="11:30">11:30</option>
                                    <option data-ng-value="11:45">11:45</option>
                                    <option data-ng-value="12:00">12:00</option>
                                    <option data-ng-value="12:15">12:15</option>
                                    <option data-ng-value="12:30">12:30</option>
                                    <option data-ng-value="12:45">12:45</option>
                                    <option data-ng-value="13:00">13:00</option>
                                    <option data-ng-value="13:15">13:15</option>
                                    <option data-ng-value="13:30">13:30</option>
                                    <option data-ng-value="13:45">13:45</option>
                                    <option data-ng-value="14:00">14:00</option>
                                    <option data-ng-value="14:15">14:15</option>
                                    <option data-ng-value="14:30">14:30</option>
                                    <option data-ng-value="14:45">14:45</option>
                                    <option data-ng-value="15:00">15:00</option>
                                    <option data-ng-value="15:15">15:15</option>
                                    <option data-ng-value="15:30">15:30</option>
                                    <option data-ng-value="15:45">15:45</option>
                                    <option data-ng-value="16:00">16:00</option>
                                    <option data-ng-value="16:15">16:15</option>
                                    <option data-ng-value="16:30">16:30</option>
                                    <option data-ng-value="16:45">16:45</option>
                                    <option data-ng-value="17:00">17:00</option>
                                    <option data-ng-value="17:15">17:15</option>
                                    <option data-ng-value="17:30">17:30</option>
                                    <option data-ng-value="17:45">17:45</option>
                                    <option data-ng-value="18:00">18:00</option>
                                    <option data-ng-value="18:15">18:15</option>
                                    <option data-ng-value="18:30">18:30</option>
                                    <option data-ng-value="18:45">18:45</option>
                                    <option data-ng-value="19:00">19:00</option>
                                    <option data-ng-value="19:15">19:15</option>
                                    <option data-ng-value="19:30">19:30</option>
                                    <option data-ng-value="19:45">19:45</option>
                                    <option data-ng-value="20:00">20:00</option>
                                    <option data-ng-value="20:15">20:15</option>
                                    <option data-ng-value="20:30">20:30</option>
                                    <option data-ng-value="20:45">20:45</option>
                                    <option data-ng-value="21:00">21:00</option>
                                    <option data-ng-value="21:15">21:15</option>
                                    <option data-ng-value="21:30">21:30</option>
                                    <option data-ng-value="21:45">21:45</option>
                                    <option data-ng-value="22:00">22:00</option>
                                    <option data-ng-value="22:15">22:15</option>
                                    <option data-ng-value="22:30">22:30</option>
                                    <option data-ng-value="22:45">22:45</option>
                                    <option data-ng-value="23:00">23:00</option>
                                    <option data-ng-value="23:15">23:15</option>
                                    <option data-ng-value="23:30">23:30</option>
                                    <option data-ng-value="23:45">23:45</option>
                                </select>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                           
                            <div class="col-md-12">
                                <label>อาการเสียที่แจ้ง</label>
                                <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">

                            <div class="col-md-12">
                                <label>ผลการประเมิน</label>
                                <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">

                            <div class="col-md-12">
                                <label>แนวทางแก้ไข</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                         ซ่อมแซม/ปรับปรุง &nbsp;&nbsp;
                                    </label>
                                    <label>
                                        <input type="checkbox">
                                        เปลี่ยนอะไหล่&nbsp;&nbsp;
                                    </label>
                                    <label>
                                        <input type="checkbox">
                                        ส่งซ่อมภายนอก&nbsp;&nbsp;
                                    </label>
                                </div>
                              
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox">
                                    </span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        &nbsp;
                       
                        <div class="form-group">

                            <div class="col-md-12">
                                <label>รายละเอียดการแก้ไข</label>
                                <textarea id="Address" name="Address" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">

                            <div class="col-md-12">
                                <label>รายการที่จำเป็นต้องใช้หรือเปลี่ยน</label>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table no-margin">
                                            <thead>
                                                <tr>
                                                    <th>รายการ</th>
                                                    <th>จำนวน</th>
                                                    <th>ราคา</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>ฟฟฟฟฟฟฟฟฟฟฟฟฟฟฟฟฟฟฟฟฟ</td>
                                                    <td>1</td>
                                                    <td>1,200</td>

                                                </tr>
                                                <tr>
                                                    <td>dfdfgghhjfhjjhjhjhj</td>
                                                    <td>2</td>
                                                    <td>500</td>

                                                </tr>
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <div class="col-md-12">
                                        <label>รายการ</label>
                                        <input id="FlightTime3" name="FlightTime3" type="text" class="form-control" placeholder="Enter ..."> 

                                    </div>
                                    <div class="col-md-4">
                                        <label>จำนวน</label>
                                        <input id="FlightTime3" name="FlightTime3" type="text" class="form-control" placeholder="Enter ..."> 
                                    </div>
                                    <div class="col-md-4">
                                        <label>ราคา</label>
                                        <input id="FlightTime3" name="FlightTime3" type="text" class="form-control" placeholder="Enter ...">
                                    </div>
                                    <div class="col-md-4">
                                        <label>&nbsp;</label>
                                        <button type="submit" class="btn btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">Add</button>
                                    </div>


                                </div>
                                <!-- /.box-footer -->
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">

                            <div class="col-md-6">
                                <label>ช่างผู้ดำเนินการ</label>
                                <input id="FlightTime3" name="FlightTime3" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                            <div class="col-md-6">
                                <label>&nbsp;</label>
                                <input id="FlightTime3" name="FlightTime3" type="text" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="box-footer clearfix">

                                    <button type="submit" class="btn btn-success btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">SAVE</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

        
        </div>

    </div>

</section>
<script language="JavaScript" type="text/javascript">
    document.getElementById('Type2').style.display = 'none';
    document.getElementById('Type3').style.display = 'none';


    function showhidediv(rad) {
        var rads = document.getElementsByName(rad.name);
        document.getElementById('Type1').style.display = (rads[0].checked) ? 'block' : 'none';
        document.getElementById('Type2').style.display = (rads[1].checked) ? 'block' : 'none';
        document.getElementById('Type3').style.display = (rads[2].checked) ? 'block' : 'none';

    }

</script>
