@{
    ViewBag.Title = "TrieSwitchDetail";
}

<section class="content-header">
    <h1>
        บันทึกการเปลี่ยน / สลับยาง
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>
<section class="content">

    <div class="row">
        <div class="col-md-12">

            <div class="col-md-5">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">รายละเอียดรถ</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>ทะเบียนรถ</label>
                                    <input type="text" class="form-control" placeholder="กท1100" disabled>
                                </div>
                              
                             
                            </div>
                            &nbsp;
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>รายละเอียด</label>
                                    <input type="text" class="form-control" placeholder="รุ่น 11111" disabled>
                                </div>
                               
                            </div>
                            &nbsp;
                            <div class="form-group">
                              
                                <div class="col-md-6">
                                    <label>ประเภท</label>
                                    <input type="text" class="form-control" placeholder="หัวลาก" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label>จำนวนล้อ</label>
                                    <input type="text" class="form-control" placeholder="10" disabled>
                                </div>
                            </div>
                            &nbsp;
                          
                           
                            <div class="form-group">

                                <div class="col-md-12">
                                    <label>ชื่อคนขับ</label>
                                    <input type="text" class="form-control" placeholder="Mr.aaa aaaa" disabled>
                                </div>

                            </div>
                            &nbsp;

                            <div class="form-group">

                                <div class="col-md-12">
                                    <label>สถานะ  &nbsp;</label>
                                    &nbsp;
                                    <span class="label label-danger">Delivered</span>
                                </div>
                            </div>
                           <br />
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-7">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">ตำแหน่งล้อรถ</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning btn-block">3/xx-xxxxxx</button>
                                   
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning btn-block">7/xx-xxxxxx</button>

                                </div>
                               
                            </div>
                            <div class="form-group">
                              
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning btn-block">1/xx-xxxxxx</button>

                                </div>
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning btn-block">4/xx-xxxxxx</button>

                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning btn-block">8/xx-xxxxxx</button>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                   <br />
                                    <br />
                    <br />
                                    <br />
                                </div>
                              
                            </div>
                            <div class="form-group">

                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning btn-block">2/xx-xxxxxx</button>

                                </div>
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning btn-block">5/xx-xxxxxx</button>

                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning btn-block">9/xx-xxxxxx</button>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning btn-block">6/xx-xxxxxx</button>

                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning btn-block">10/xx-xxxxxx</button>

                                </div>

                            </div>
                            &nbsp;
                            <div class="form-group">
                                
                                <div class="col-md-6">
                                    <label>S/N</label>
                                    <input type="text" class="form-control" placeholder="1/xx-xxxxxx" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label>Used(Km.)</label>
                        
                                    <input type="text" class="form-control" placeholder="nnnn" disabled>

                                </div>
                               
                            </div>
                            &nbsp;
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label>Purchase Date</label>
                                    <input type="text" class="form-control" placeholder="12/03/2559" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label>Exprie Date</label>
                                    <input type="text" class="form-control" placeholder="12/03/2560" disabled>
                         

                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-5">

                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">ประวัติการเปลี่ยน / สลับยาง</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th>วันที่</th>
                                                <th>ประเภท</th>
                                                <th>ยางเดิม</th>
                                                <th>ยางใหม่</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>27/05/2559</td>
                                                <td>สลับยาง</td>
                                                <td>xx-xxxxx</td>
                                                <td>xx-xxxxx</td>
                                            </tr>
                                            <tr>
                                                <td>27/05/2559</td>
                                                <td>สลับยาง</td>
                                                <td>xx-xxxxx</td>
                                                <td>xx-xxxxx</td>
                                            </tr>
                                            <tr>
                                                <td>27/05/2559</td>
                                                <td>สลับยาง</td>
                                                <td>xx-xxxxx</td>
                                                <td>xx-xxxxx</td>
                                            </tr>
                                            <tr>
                                                <td>27/05/2559</td>
                                                <td>สลับยาง</td>
                                                <td>xx-xxxxx</td>
                                                <td>xx-xxxxx</td>
                                            </tr>
                                            <tr>
                                                <td>27/05/2559</td>
                                                <td>สลับยาง</td>
                                                <td>xx-xxxxx</td>
                                                <td>xx-xxxxx</td>
                                            </tr>
                                            <tr>
                                                <td>27/05/2559</td>
                                                <td>สลับยาง</td>
                                                <td>xx-xxxxx</td>
                                                <td>xx-xxxxx</td>
                                            </tr>
                                            <tr>
                                                <td>27/05/2559</td>
                                                <td>สลับยาง</td>
                                                <td>xx-xxxxx</td>
                                                <td>xx-xxxxx</td>
                                            </tr>
                                            <tr>
                                                <td>27/05/2559</td>
                                                <td>สลับยาง</td>
                                                <td>xx-xxxxx</td>
                                                <td>xx-xxxxx</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <div class="col-md-7">

                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">บันทึกข้อมูล</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label>
                                            <input type="radio" name="optiosType" id="optiosType1" value="Praxair" checked="checked" onclick="showhidediv(this);">
                                           การสลับยาง
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <input type="radio" name="optiosType" id="optiosType2" value="Trucking" onclick="showhidediv(this);">
                                            การเปลี่ยนยาง
                                        </label>
                                    </div>

                                </div>
                                &nbsp;
                                <div class="form-group" id="Type1">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>ตำแหน่งเดิม</label>
                                            <select class="form-control" id="Luggage3" name="Luggage3">

                                                @* <option value="">-- Select No of luggage --</option>*@
                                                <option value="1">1/xx-xxxxx</option>
                                                <option value="2">2/xx-xxxxx</option>
                                                <option value="3">3/xx-xxxxx</option>
                                                <option value="4">4/xx-xxxxx</option>
                                                <option value="5">5/xx-xxxxx</option>
                                                <option value="6">6/xx-xxxxx</option>
                                                <option value="7">7/xx-xxxxx</option>
                                                <option value="8">8/xx-xxxxx</option>
                                                <option value="9">9/xx-xxxxx</option>
                                                <option value="0">0/xx-xxxxx</option>

                                            </select>
                                        </div>
                                       
                                    </div>
                                    &nbsp;
                                    <div class="form-group">
                                       
                                        <div class="col-md-12">
                                            <label>สลับยางกับ</label>

                                        </div>
                                    
                                    </div>
                                    &nbsp;
                                    <div class="form-group">
                                      
                                        <div class="col-md-12">
                                            <label>ตำแหน่งใหม่</label>
                                            <select class="form-control" id="Luggage3" name="Luggage3">

                                                @* <option value="">-- Select No of luggage --</option>*@
                                                <option value="1">1/xx-xxxxx</option>
                                                <option value="2">2/xx-xxxxx</option>
                                                <option value="3">3/xx-xxxxx</option>
                                                <option value="4">4/xx-xxxxx</option>
                                                <option value="5">5/xx-xxxxx</option>
                                                <option value="6">6/xx-xxxxx</option>
                                                <option value="7">7/xx-xxxxx</option>
                                                <option value="8">8/xx-xxxxx</option>
                                                <option value="9">9/xx-xxxxx</option>
                                                <option value="0">0/xx-xxxxx</option>

                                            </select>
                                        </div>
                                    </div>
                                    &nbsp;
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <label>วันที่สลับยาง</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>

                                                <input class="form-control" data-val="true" data-val-required="Date is required"
                                                       id="Date3" name="Date3" type="date" value="1/11/1989" />
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                &nbsp;
                                <div class="form-group" id="Type2">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>ยางที่ต้องการเปลี่ยน</label>
                                            <select class="form-control" id="Luggage3" name="Luggage3">

                                                @* <option value="">-- Select No of luggage --</option>*@
                                                <option value="1">1/xx-xxxxx</option>
                                                <option value="2">2/xx-xxxxx</option>
                                                <option value="3">3/xx-xxxxx</option>
                                                <option value="4">4/xx-xxxxx</option>
                                                <option value="5">5/xx-xxxxx</option>
                                                <option value="6">6/xx-xxxxx</option>
                                                <option value="7">7/xx-xxxxx</option>
                                                <option value="8">8/xx-xxxxx</option>
                                                <option value="9">9/xx-xxxxx</option>
                                                <option value="0">0/xx-xxxxx</option>

                                            </select>
                                        </div>

                                    </div>
                                    &nbsp;
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <label>เปลี่ยนยางกับ</label>

                                        </div>

                                    </div>
                                    &nbsp;
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <label>ยางในสต๊อก</label>
                                            <select class="form-control" id="Luggage3" name="Luggage3">

                                                @* <option value="">-- Select No of luggage --</option>*@
                                                <option value="1">xx-xxxxx</option>
                                                <option value="2">xx-xxxxx</option>
                                                <option value="3">xx-xxxxx</option>
                                                <option value="4">xx-xxxxx</option>
                                                <option value="5">xx-xxxxx</option>
                                                <option value="6">xx-xxxxx</option>
                                                <option value="7">xx-xxxxx</option>
                                                <option value="8">xx-xxxxx</option>
                                                <option value="9">xx-xxxxx</option>
                                                <option value="0">xx-xxxxx</option>

                                            </select>
                                        </div>
                                    </div>
                                    &nbsp;
                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <label>วันที่เปลี่ยนยาง</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>

                                                <input class="form-control" data-val="true" data-val-required="Date is required"
                                                       id="Date3" name="Date3" type="date" value="1/11/1989" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                      
                              &nbsp;
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="box-footer clearfix">

                                        <button type="submit" class="btn btn-danger btn-block" data-animation-type="bounce" data-animation-duration="1" style="animation-duration: 1s; visibility: visible;">SAVE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
        </div>
      

    </div>

</section>
<script language="JavaScript" type="text/javascript">
    document.getElementById('Type2').style.display = 'none';


    function showhidediv(rad) {
        var rads = document.getElementsByName(rad.name);
        document.getElementById('Type1').style.display = (rads[0].checked) ? 'block' : 'none';
        document.getElementById('Type2').style.display = (rads[1].checked) ? 'block' : 'none';

    }

</script>
